services: 
  mock_service: 
    container_name: mock_service
    build: .
    ports: 
      - "8000:8000"

  cadvisor: 
    image: google/cadvisor:latest 
    container_name: cadvisor 
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock:ro 
      - /var/lib/docker:/var/lib/docker:ro 
    restart: 
      unless-stopped 
    ports:
      - "8080:8080"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus 
    ports: 
      - "9090:9090" 
    volumes: 
      - ./prometheus.yml:/etc/prometheus/prometheus.yml 
    restart: 
      unless-stopped 


  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "3000:3000"

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"